POSTGRES_USER
POSTGRES_PASSWORD
POSTGRES_DB
POSTGRES_HOST
POSTGRES_PORT

PGADMIN_DEFAULT_EMAIL
PGADMIN_DEFAULT_PASSWORD

MINIO_ROOT_USER
MINIO_ROOT_PASSWORD
MINIO_ENDPOINT

REDIS_HOST
REDIS_PORT
REDIS_PASSWORD

DOCKER_GID
AIRFLOW_UID

KAFKA_BOOTSTRAP_SERVERS
